// indigo & pink
// Note: Settings don't seem to actually work here for Github Pages
$dark-primary-color: $lightblue;
$primary-color: $lightblue;
$light-primary-color: $lightblue;
$accent-color: $lightblue;
